<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean  id="vehicle" class="com.park.model.Motor">
        <property name="driver" value="huige" />
    </bean>

    <!--<bean id="driving" class="com.park.spring.Driving" >
        <property name="vehicle" ref="carr" />

    </bean>-->

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="data.properties" />

    </bean>

 <context:component-scan base-package="com.park.model"/>
    <import resource="spring2.xml" />
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages</value>
            </list>
        </property>

    </bean>
</beans>